.container-registro{
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    min-width: 370px;
    max-width: 450px;

    margin-left: 2%;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}